body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.image{
  margin: 5px;
  position: absolute;
}
.head-topic{
  text-align: center;
  position: relative;
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.myList {
  font-style: italic;
}
.space{
  margin: 0 20px;
}
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 10px
} 
th {
  height: 50px;
  text-align: left;
}